body{
    margin: 0;
}
.container{

    width: 100%;
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: center;
justify-content: center;
    
}
.button{
    display: flex;

    height: 38vh;
}
.weapons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img{
    height: 11vmax;
    width: 11vmax;
    margin: 0.5vmax 1.8vmax;
    cursor: pointer;
    
}

.weapons:hover img{
    border: 3px solid black;
}
.button{
    margin-bottom: 20px;
}
.info{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;

}

.container-landing{
    width: 100%;
    height: 100vh;
    display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
background: url("https://external-preview.redd.it/oY1ZRQZtNGCdFVF1xcuTh-sxNdgk0Ui3TU2ARB287dQ.png?width=640&crop=smart&auto=webp&s=4ebb9cebe5a55a9a236b8fa2b53bd39c093ee95e");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
overflow: hidden;

}
.button-container{
display: flex;
}
.button-container button{
    cursor: pointer;
    padding: 1.6vmax;
    width: 25vmax;
    margin: 0px 1vmax;
    font-weight: bold;
    font-size: 1.2vmax;
    border: 2px solid black;
}

.moneyMeter{
    display: none;
position: absolute;

top: 0vmax;
left: 3vmax;
}
.moneyMeter i{
font-size: 20px;
cursor: pointer;
border: 3px solid black;
padding: 5px;
}
.container-shop{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 flex-wrap: wrap;
    width: 80%;
margin: auto;
    height: auto;
}
.container-item{
    display: flex;
    justify-content: center;
 flex-wrap: wrap;
    width: 100%;
margin: auto;
    height: auto;
}
.card{
width: 200px;
margin: 0.5vmax;
border: 4px solid black;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 200px;
}
#Back{
    cursor: pointer;
}
.home{
    display: none;
    cursor: pointer;
}
.homeButton{

    position: absolute;
    font-size: 2vmax;
    top: 5vh;
    right: 2vmax;
}